@import '../../variables';

.Personal-data-form {
  max-width: $content-max-width;
  width: 100%;
  margin: 0 auto;

  &__fieldset {
    width: 100%;
    margin-bottom: 30px;

    &:last-child {
      margin-bottom: 0;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 44px;
      margin: 35px 0 10px;

      &:last-child {
        margin: 0;
      }

      & .Subtitle {
        margin: 0;
      }
    }
  }
}
