@import '../../variables';

.Footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $footer-height;
  background-color: $footer-background-color;
}

.Footer__rights {
  font-size: $font-size-small;
}
