@import '../../variables';

.Personal-data-preview {
  width: $content-max-width;

  &__block {
    margin-bottom: 60px;

    &:last-child {
      margin: 0;
    }
  }

  &__text {
    margin: 0 0 20px;
    font-size: $font-size-large;
    font-weight: $font-weight-bold;
    line-height: $line-height-normal;

    &:last-child {
      margin: 0;
    }

    &_button-like {
      width: fit-content;
      padding: 10px 20px;
      background-color: $color-gray;
      border-radius: 5px;
    }
  }
}
