$header-height: 76px;

$footer-height: 76px;
$footer-background-color: #fafafa;

$font-size-subtitle: 16px;
$font-size-normal: 14px;
$font-size-small: 13px;

$color-light-gray: rgba(17, 17, 17, 0.48);
