$header-height: 76px;

$footer-height: 76px;
$footer-background-color: #fafafa;

$bottom-line: 0px 1px 0px rgba(17, 17, 17, 0.1);

$font-size-subtitle: 16px;
$font-size-normal: 14px;
$font-size-small: 13px;

$font-weight-bold: 700;
$font-weight-medium: 500;

$line-height-normal: 24px;
$line-height-small: 16px;

$color-light-gray: rgba(17, 17, 17, 0.48);
$color-dark-gray: #111111;
$color-light-blue: #01a7fd;

$form-max-width: 616px;
